$light-gray: #ddd;
// $primary-color: #479285;
$primary-color: #666;
$white: #fff;
$background-color: #eee; // Temporary
$text-color: #666;

%list-reset {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}