.form {

}
.field {
  outline: none;
  display: block;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 18px;

  &--primary {
    background-color: $primary-color;
    color: white;
  }
  &--secondary {
  }
}