body {
  background-color: $background-color;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 60px;
}
.no-margin {
  margin: 0;
}
.wrapper {
  // Because of nav

  &--padded {
    padding: 10px;
  }
}
button:focus {
  outline: none;
}
.reset-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.content-wrapper {
}
.tree-wrapper {
  padding: 20px 0;
  text-align: center;
}
.btn {
  padding: 12px 20px 8px;
  background-color: $primary-color;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;

  &--fullwidth {
    width: 100%;
    border-radius: 0;
    padding: 0 10px;
    line-height: 50px;
    text-align: left;
  }
}
.btn:focus {
  background-color: $primary-color;
}
#plaid-link {
  display: inline;
}
.plaid-link-button {
  padding: 0 10px;
  font-size: 18px;
  line-height: 50px;
  border: none;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 0;
}
.btn-default {

}
.btn-back {
  position: absolute;
  color: white;
  line-height: 50px;
  top: 0;
  left: 10px;
  z-index: 6;
}
.btn-back:before {
  content: "< ";
  margin-right: 4px;
}
.btn-primary,
.btn-primary:focus {
  background-color: $primary-color;
}
.btn-white {
  background-color: $white;
  color: $text-color;
}
.tree-wrapper img {
  width: 58%;
  max-width: 300px;
  padding: 10px;
  margin: auto;
}
.center-text {
  text-align: center;
}